/*
 * Copyright (c) 2022 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

#define DEFAULT 0
#define LOWER   1
#define RAISE   2

/ {
    chosen { zmk,matrix-transform = &layout_grid_transform; };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            //  -------------------------------------------------------------------------------------------------
            // |  GRAV |  1   |  2   |  3   |  4    |  5     |   6     |  7     |  8   |  9    |   0   | BSPC   |
            // |  TAB  |  Q   |  W   |  E   |  R    |  T     |   Y     |  U     |  I   |  O    |   P   | DEL    |
            // |  ESC  |  A   |  S   |  D   |  F    |  G     |   H     |  J     |  K   |  L    |   ;   |  '     |
            // | SHIFT |  Z   |  X   |  C   |  V    |  B     |   N     |  M     |  ,   |  .    |   /   | RET    |
            // |       | LGUI | LALT | LCTL | LOWER | SPACE  |  SPACE  |  RAISE | LEFT |  DOWN |   UP  | RIGHT  |

            bindings = <
&none       &kp N1     &kp N2    &kp N3    &kp N4  &kp N5     &kp N6     &kp N7  &kp N8         &kp N9         &kp N0     &none
&kp ESC     &kp Q      &kp W     &kp E     &kp R   &kp T      &kp Y      &kp U   &kp I          &kp O          &kp P      &kp DEL
&kp TAB     &kp A      &kp S     &kp D     &kp F   &kp G      &kp H      &kp J   &kp K          &kp L          &kp SEMI   &kp ENTER
&kp LSHIFT  &kp Z      &kp X     &kp C     &kp V   &kp B      &kp N      &kp M   &kp COMMA      &kp DOT        &kp SLASH  &kp RIGHT_SHIFT
&none       &kp LCTRL  &kp LALT  &kp LGUI  &mo 0   &kp LSHFT  &kp SPACE  &mo 0   &kp RIGHT_GUI  &kp RIGHT_ALT  &kp RCTRL  &none
            >;
        };

        navigate {
            bindings = <
&trans  &trans  &trans     &trans        &trans        &trans  &trans    &trans    &trans  &trans     &trans  &trans
&trans  &trans  &trans     &trans        &trans        &trans  &trans    &trans    &trans  &trans     &trans  &trans
&trans  &trans  &kp LCTRL  &kp LEFT_ALT  &kp LEFT_GUI  &trans  &kp LEFT  &kp DOWN  &kp UP  &kp RIGHT  &trans  &trans
&trans  &trans  &kp LG(X)  &kp LG(C)     &kp LG(V)     &trans  &trans    &trans    &trans  &trans     &trans  &trans
&trans  &trans  &trans     &trans        &trans        &trans  &trans    &trans    &trans  &trans     &trans  &trans
            >;

            label = "Navigate";
        };
    };
};
